[submodule ".\\StegoApp\\vendor\\CryptoPP"]
	path = .\\StegoApp\\vendor\\CryptoPP
	url = https://github.com/weidai11/cryptopp
[submodule ".\\StegoApp\\vendor\\opencv"]
	path = .\\StegoApp\\vendor\\opencv
	url = https://github.com/opencv/opencv.git
